<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="heaerfont"
      ><strong id="headerName">Pet Buddy</strong></ion-title
    >

    <ion-buttons slot="end" (click)="viewmycart()">
      <div class="cartcount" *ngIf="cartcount">{{cartcount}}</div>
      <ion-icon name="cart-outline" class="headerrighticon"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" (click)="viewsearpg()">
      <ion-icon name="search-outline" class="searchicnhmheader"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="sesinlefct">
    <div class="snowflx">
      <div class="snowflakes" *ngIf="appstngs.festive_theme=='Christmas'">
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i
        ><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i
        ><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i
        ><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i
        ><i></i><i></i><i></i>
      </div>

      <div class="sprngleaf" *ngIf="appstngs.festive_theme=='Leaves'">
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
        <img src="assets/86-866989_spring-leaf-png.png" />
      </div>

      <div class="wntrflwer" *ngIf="appstngs.festive_theme=='Flowers'">
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
        <img src="assets/winter_flower.png" />
      </div>

      <!-- Valentine's Start -->
      <div class="bubbling-heart" *ngIf="appstngs.festive_theme=='Valentine'">
        <div><ion-icon name="heart"></ion-icon></div>
        <div><ion-icon name="heart"></ion-icon></div>
        <div><ion-icon name="heart"></ion-icon></div>
        <div><ion-icon name="heart"></ion-icon></div>
        <div><ion-icon name="heart"></ion-icon></div>
        <div><ion-icon name="heart"></ion-icon></div>
      </div>
      <!-- Valentine's End -->

      <!-- Diwali Start -->
      <ul class="lightrope" *ngIf="appstngs.festive_theme=='Diwali'">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <!-- Diwali End -->

      <div class="pyro" *ngIf="appstngs.festive_theme=='New Year'">
        <div class="before"></div>
        <div class="after"></div>
      </div>

      <!-- Haloween Start -->
      <div *ngIf="appstngs.festive_theme=='Haloween'">
        <div class="spider_0">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <div class="spider_1">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <div class="spider_2">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <div class="spider_3">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <div class="spider_4">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <div class="spider_5">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg left"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
          <span class="leg right"></span>
        </div>
        <img
          class="web-right"
          src="http://www.scandiafun.com/images/spiderweb-corner-right.png"
        />
        <img
          class="web-left"
          src="http://www.scandiafun.com/images/spiderweb-corner-right.png"
        />
      </div>

      <!-- Haloween End -->
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="homebanner">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let bnr of banners" (click)="gocategory(bnr)">
        <img src="{{imgpath}}banner/{{bnr.image}}"  alt=""/>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="highdemandbanner blinking" *ngIf="appstngs?.pause_order_message">
    <ion-icon name="fast-food-outline"></ion-icon>
    {{appstngs?.pause_order_message}}
  </div>
  <div class="padcontr">
    <ion-segment mode="md" value="0" class="mb-0" scrollable>
      <ion-segment-button
        *ngFor="let item of categorys;let i = index"
        (click)="segmentChanged(item.id)"
        value="{{i}}"
      >
        <ion-label>{{item.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngFor="let item of category">
      <div class="slidediv" *ngIf="!item.isscg">
        <div *ngFor="let itm of item.prd" class="parentslid">
          <div class="outofstkstamp" *ngIf="itm.isAvailable=='Sold Out'">
            <img src="assets/outofstock.png"  alt=""/>
          </div>

          <div class="thumbsec" [ngClass]="itm.isAvailable ? 'allgrasccl': ''">
            <div class="thubimg" (click)="openDetailsItem(itm)">
              <div
                class="cornertxt {{itm.corner_text_css}}"
                *ngIf="itm.corner_text"
              >
                {{itm.corner_text}}
              </div>
              <img src="{{imgpath}}products/{{itm.imgs[0]}}"  alt=""/>
            </div>
            <div
              class="conainfood"
              (click)="openAlergyInfo(itm)"
              *ngIf="itm.alrgy"
            >
              <img
                *ngFor="let cnt of itm.contain"
                src="assets/foodcontain/{{cnt}}.png"
               alt=""/>
            </div>
            <div class="temname" (click)="openDetailsItem(itm)">
              {{itm.name}}
              <img
                src="assets/foodcontain/chili.png"
                *ngFor="let cl of itm.chilli"
               alt=""/>
            </div>
            <div class="temdesc" (click)="openDetailsItem(itm)">
              {{itm.description}}
            </div>
            <div class="priceandvegicn">
              <span [innerHTML]="appstngs?.currency_symbol"></span
              >{{itm.itmprice}}
              <!-- <img src="assets/icon/{{itm.food_type}}.jpg"> -->
            </div>
            <div *ngIf="itm.isAvailable" class="soldoutbtn">
              {{itm.isAvailable}}
            </div>
            <div *ngIf="!itm.isAvailable">
              <div
                id="addcartbtn_{{item.id}}_{{itm.id}}"
                class="cardbtn"
                (click)="addtoCart(itm, item.id)"
                [style.display]="itm.qty?'none':'inherit'"
              >
                <ion-icon name="cart-outline"></ion-icon> {{itm.crtbtn}}
              </div>
              <div
                class="cartbtn"
                id="qtycartbtn_{{item.id}}_{{itm.id}}"
                [style.display]="!itm.qty?'none':'inherit'"
              >
                <span class="minusbtn" (click)="minusqty(itm, item.id)"
                  ><ion-icon name="remove-outline"></ion-icon
                ></span>
                <span class="qtyvalue" id="itmqty_{{item.id}}_{{itm.id}}"
                  >{{itm.qty}}</span
                >
                <span class="plusbtn" (click)="addqty(itm, item.id)"
                  ><ion-icon name="add-outline"></ion-icon
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slidediv" *ngIf="item.isscg">
        <div *ngFor="let sbct of item.scg" class="parentslid">
          <div class="thumbsec">
            <div class="thubimg" (click)="gonextsbg(sbct, item)">
              <img src="{{imgpath}}subcategory/{{sbct.icon}}"  alt=""/>
            </div>
            <div class="temname" (click)="gonextsbg(sbct, item)">
              {{sbct.name}}
            </div>
            <div
              class="cardbtn"
              style="background-color: #474747; text-align: center"
              (click)="gonextsbg(sbct, item)"
            >
              View Items
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border myfootercart" *ngIf="cartcount">
  <div class="leftprice">
    {{cartcount}} Item(s) |
    <code [innerHTML]="appstngs?.currency_symbol"></code>{{carttotal}}<br />
    <span>Extra charges may apply</span>
  </div>
  <div class="viewcardbtn" (click)="viewmycart()">
    View Cart <ion-icon name="cart-outline"></ion-icon>
  </div>
  <div class="clear"></div>
</ion-footer>
