<ion-header>
  <ion-toolbar class="header-background-color">
  	 <ion-back-button slot="start"></ion-back-button>
    <ion-title class="heaerfont">Grooming Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	 </ion-refresher>

	 <div class="cateringlogo">
	 	<img src="assets/icon/logo.png">
	 </div>
	 <div class="cmshead">
	 	{{allProducts?.heading}}
	 </div>
	 <div class="cmsdesc" [innerHTML]='allProducts?.descriptions'></div>

	 <div class="loginmobilefieldreg">
	 	<label>Your full name</label>
	 	<input type="text" [(ngModel)]="data.fullname">
	 </div>
	 <div class="loginmobilefieldreg">
	 	<label>Contact Number</label>
	 	<input type="tel" [(ngModel)]="data.mobile" maxlength="11"  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
	 </div>
	 <div class="loginmobilefieldreg">
	 	<label>Date</label>
<!--	 	<input type="text" [(ngModel)]="data.date" placeholder="25th December {{allProducts?.nowysr}}">-->
		 <input type="date" (change)='chkbuftavl()' [(ngModel)]="data.date">
	 </div>
	 <div class="loginmobilefieldreg">
	 	<label>Time</label>
<!--	 	<input type="text" [(ngModel)]="data.time" placeholder="07.30pm">-->
		 <select [(ngModel)]="data.time">
			 <option value="{{tml.value}}" *ngFor="let tml of timelist">{{tml.value}}</option>
		 </select>
	 </div>
	 <div class="loginmobilefieldreg">
	 	<label>Grooming Requirements</label>
	 	<input type="text" [(ngModel)]="data.descriptions" placeholder="e.g Need my dogs nails clipped">
	 </div>
	 <div class="loginmobilefieldreg">
	 	<label>Number of Pets</label>
	 	<input type="number" [(ngModel)]="data.budget">
	 </div>
	 <div class="submitbtn" (click)='submitevnt()'>
	 	Submit
	 </div>

</ion-content>
