<ion-header>
  <ion-toolbar class="header-background-color">
  	 <ion-back-button slot="start"></ion-back-button>
    <ion-title class="heaerfont">{{title}}</ion-title>
    <ion-buttons slot="end" (click)='logout()'>
      <ion-icon name="log-out-outline" class='headerrighticon'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	 </ion-refresher>
	<div class="padcontr">
		<div class="sectiondiv" (click)='opnprofileupdate()' *ngIf="isMyacnt">
			<div class="sechead">
				<strong>Name : </strong>{{logeduser.name}} <span>Edit</span><b></b>
			</div>
			<div class="secordprice"></div>
			<div class="secdesc">
				<strong>Mobile :</strong> {{mobprfx}}-{{logeduser.mobile}}
			</div>
			<div class="secdesc">
				<strong>Email : </strong>{{logeduser.email}}
			</div>
		</div>
		<div class="sectiondiv" (click)='goaddress()' *ngIf="isMyacnt">
			<div class="iconleft"><ion-icon name="map-outline"></ion-icon></div>
			<!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
			<div class="sechead">
				Address Book
			</div>
			<div class="secdesc">
				Manage my address
			</div>
		</div>

		<div class="sectiondiv">
			<div class="sechead">
				Order History
			</div>
			<div class="secordprice" *ngFor="let ord of ords">
				<span class="deliverdgreen">{{ord.order_status}}<ion-icon *ngIf="ord.order_status == 'Delivered'" name="checkmark-outline"></ion-icon></span>
				<b *ngFor="let itm of ord.prd" (click)='viewordertls(ord.orderid)'>{{itm.item_name}} x {{itm.qty}}, </b><br>
				<span>{{ord.orddate}}, {{ord.ordtime}}</span><br>
				<div class="pricespn">{{ord.iswaltpayamount}}</div>
				<!-- <div class="reorderbtn"><span>Reorder</span></div> -->
			</div>
		</div>
		<div class="sectiondiv">
			<div class="sechead">
				Appointments
			</div>
			<div class="secordprice" *ngFor="let bft of bffets">
				<span class="deliverdgreen">{{bft.status}}<ion-icon *ngIf="bft.status == 'Confirmed'" name="checkmark-outline"></ion-icon></span>
				<strong>{{bft.booking_id}}</strong><br>
				<b>No. of Pets {{bft.nop}}</b><br>
				<span>Booked on: {{bft.bookdate}}, {{bft.booktime}}</span>
			</div>
		</div>
	</div>
</ion-content>
