<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
	<div class="almosttherehead ion-text-center">
		Write your review<hr>
	</div>
	<div class="ratngstar">
		<span *ngFor="let item of allstar" (click)='getnowrate(item)'><ion-icon name="{{item.icon}}"></ion-icon></span>
		
	</div>
	<div class="loginmobilefieldreg">
		<label>Type your review</label>
		<input type="email" [(ngModel)]="reviewtxt">
	</div>
	<div class="continuebtn" (click)='btnfrewview()'>
		{{updbtn}}
	</div>
	
</ion-content>
